.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-empty {
        text-align: center;
        padding: 60px 0;

        p {
            color: var(--white);
            font-family: var(--font-cormorant-garamond);
            font-size: 20px;
            opacity: 0.7;
        }
    }
}