main.masters-page {
    padding: 200px 0 100px 0;

    .container {
        padding-left: 40px;

        h1 {
            color: var(--white);
            font-family: var(--font-cormorant-garamond);
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 50px;
        }

        .masters-page__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
        }
    }
}

.masters-page__info {
    p {
        color: var(--white);
        font-family: var(--font-cormorant-garamond);
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;

        span {
            color: var(--colorForBorderCard);
        }
    }
}

@media all and (max-width: 870px) {
    main.masters-page {
        padding: 150px 0 70px 0;


        .container {
            h1 {
                font-size: 30px;
            }

            .masters-page__list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
            }
        }
    }

    .masters-page__info {
        p {

            font-size: 18px;

        }
    }
}

@media all and (max-width: 500px) {
    main.masters-page {
        .container {
            padding-left: 30px;

            h1 {
                font-size: 27px;
            }

            .masters-page__list {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
            }
        }
    }
}