@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --white: white;
  --backHeader: rgba(0, 0, 0, 0.5);
  --colorForBorderCard: rgba(205, 170, 125, 1);
  --background: rgba(17, 17, 17, 1);


  
  /* CSS переменные для шрифтов */
  --font-source-sans: "Source Sans 3", sans-serif;
  --font-manufacturing-consent: "Manufacturing Consent", system-ui;
  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-cormorant-garamond: "Cormorant Garamond", serif;
  
}

a {
  text-decoration: none;
}

.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;

}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section{
  padding: 100px 0;
}