.prices-page {
    padding-bottom: 100px;

    .prices-hero {
        position: relative;
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
        overflow: hidden;

        &__image {
            width: 100%;
            height: 400px;
            object-fit: cover;
            display: block;
        }

        &__content {
            text-align: center;
            padding: 50px 0px 40px 0;

            h1 {
                color: var(--white);
                font-family: var(--font-cormorant-garamond);
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                color: var(--white);
                font-family: var(--font-cormorant-garamond);
                font-size: 24px;
                font-weight: 400;
                opacity: 0.9;
            }
        }
    }

}

.prices-info__total {
    color: var(--white);
    font-family: var(--font-cormorant-garamond);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

    span {
        color: var(--colorForBorderCard);
    }
}

@media all and (max-width: 900px) {
    .prices-page {
        .prices-hero {
            height: 300px;

            &__image {
                width: 100%;
                height: 300px;
                object-fit: cover;
                display: block;
            }

            &__content {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Адаптив для главной страницы */
@media all and (max-width: 768px) {
    .prices-page {
        .prices-hero {
            height: 300px;

            &__image {
                width: 100%;
                height: 300px;
                object-fit: cover;
                display: block;
            }

            &__content {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }

    .prices-info__total {
        color: var(--white);
        font-family: var(--font-cormorant-garamond);
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 480px) {
    .prices-page {
        .prices-hero {
            height: 250px;

            &__content {
                h1 {
                    font-size: 32px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}